<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lima </title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/grid.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header class="header col-1-1">
<div class="grid">
    <div class="logo col-3-12">
        <p>Dreamshare</p>
    </div>
    <div class="navigation-menu col-8-12">
        <ul class="nav">
            <li><a href="">Activities </a></li>
            <li><a href="">Partners</a> </li>
            <li><a href="">Blog</a> </li>
            <li><a href="">Contact</a> </li>
            <li><a href="">Log in</a> </li>
            <li><a class="sign-up" href="">Sign up</a> </li>
        </ul>
    </div>
</div>
<div class="grid">
    <div class="header-content">
        <h1>Share your holiday dream </h1>
        <p>And find your perfect partner to fulfill it</p>
        <p class="holiday-partner">Find your holiday partner</p>
    </div>
</div>
</header>
<section class="col-1-1 partners-section">
    <div class="grid grid-pad">

        <h2>Meet a partner for your best holiday</h2>

        <div class="col-1-4 partners-blocks">
            <div class="partner-image">
                <img src="images/partner1.jpg" width="100%"/>
            </div>
            <div class="outline">
                <div class="music-icon small-icons">
                    <img src="images/music.svg" class="" width="14"/>
                </div>
            </div>

            <div class="partner-name">
                <p>Bradley Hunter</p>
            </div>
            <div class="partner-bio">
                <p>Based in chicago. I love playing tennis and loud music</p>
            </div>
        </div>
        <div class="col-1-4 partners-blocks">
            <div class="partner-image">
                <img src="images/partner2.jpg" width="100%"/>
            </div>
            <div class="outline">
            <div class="brush-icon small-icons">
                <img src="images/brush.svg" class="" width="16"/>
            </div>
            </div>
            <div class="partner-name">
                <p>Marie Bennett</p>
            </div>
            <div class="partner-bio">
                <p>Currently living in colorado. Lover of art, languages and travelling.</p>
            </div>
        </div>
        <div class="col-1-4 partners-blocks">
            <div class="partner-image">
                <img src="images/partner3.jpg" width="100%"/>
            </div>
            <div class="outline">
            <div class="camera-icon small-icons">
                <img src="images/camera.svg" class="" width="18"/>
            </div>
            </div>
            <div class="partner-name">
                <p>Diana Wells</p>
            </div>
            <div class="partner-bio">
                <p>Living in Athens, Greece. I love black and white classics, chillout music and green tea.</p>
            </div>
        </div>
        <div class="col-1-4 partners-blocks">
            <div class="partner-image">
                <img src="images/partner4.jpg" width="100%"/>
            </div>
            <div class="outline">
            <div class="plane-icon small-icons">
                <img src="images/airplane.svg" class="" width="18"/>
            </div>
            </div>
            <div class="partner-name">
                <p>Christopher Pierce</p>
            </div>
            <div class="partner-bio">
            <p>Star wars fantastic. I have a persistent enthusiasm to create new things.</p>
            </div>
        </div>

    </div>
    <div class="grid grid-below">
        <a href="/" class="other-partners">
            See other partners
        </a>
        <h2>Discover holiday activity destinations</h2>
    </div>
</section>
<section class="activities-section col-1-1">
        <div class="grid rows" ng-app="myApp" ng-controller="mainController">
            <div class="col-1-3 activities" ng-repeat="d in destinations">
                <img ng-src="{{d.coverimage}}">
                <div class="dest-info">
                    <h4>{{d.name | uppercase}}</h4>
                    <p>Prices starts from {{d.pricerange | currency}}</p>
                    <p>This package will be available from {{d.seasondate | date}}</p>
                    <p ng-click="plusOne($index)" class="votes">VOTE: + {{d.votes}} </p>
                </div>
            </div>


        </div>

</section>
<footer class="footer col-1-1">
    <div class="grid">
        <div class="col-1-4"><p class="footer-logo">Dreamshare</p> </div>
        <div class="col-1-4">
            <p class="small-headings">Company</p>
            <ul>
                <li><a href="">About</a> </li>
                <li><a href="">Contact</a> </li>
                <li><a href="">Press</a> </li>
                <li><a href="">Blog</a> </li>
                <li><a href="">Terms and Privacy</a> </li>
                <li><a href="">Help</a> </li>

            </ul>
        </div>
        <div class="col-1-4">
            <p class="small-headings">Activities</p>
            <ul>
                <li><a href="">Sports</a> </li>
                <li><a href="">Wellness and Health</a> </li>
                <li><a href="">Expeditions </a> </li>
                <li><a href="">Games</a> </li>
                <li><a href="">Culture and Education</a> </li>
                <li><a href="">View all</a> </li>

            </ul>
        </div>
        <div class="col-1-4">
            <p class="small-headings">Contact us</p>
            <ul>
                <li>Tel: (000) 000-0000</li>
                <li>Email: dreams@email.com</li>

            </ul>
        </div>
    </div>

</footer>
<script src="scripts/angular.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>